@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

.video_title{
  top:50%;
  padding-left:10%;
  padding-right:10%;
}

.active{
  text-decoration: underline;
  text-decoration-thickness:3px ;
  text-underline-offset: 10px;
  text-decoration-color: #000;
}

.checkout_btn{
  width:100% !important;
  box-sizing: border-box;
}

.modal-content{
  overflow: hidden;
  min-height: 100vh;
}

.modal-inner::-webkit-scrollbar {
  display: none;
}

.modal-inner{
  max-height:calc(100vh - 40px);
  overflow-y:auto;
}


@media screen and (max-width:1023px){
  .hero-img{
    display:none;
  }
  .info-blocks{
    flex-direction: column;
  }

  .video_title{
    font-size: 25px;
  }
}

@media screen and (max-width:770px){
  .info_box{
    flex-direction: column;
  }
}